<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/main.css">
    <title>To do app</title>
  </head>
  <body>
    
    <!-- nav.html을 불러와주세요 / ejs만 가능 / html에서 쓰려면 jquery 써야함 -->

    <%- include('nav.html') %>


    <h4 class="m-3 text-center" style="color: indigo;">*서버에서 가져온 할일 리스트*</h4>

    <!-- 나는 지금부터 자바스크립트 문법을 쓰겠습니다. ejs를 통해서 -->
    <!-- <%= %> 를 사용하면 html 문법에 ejs를 사용하여 서버의 데이터를 불러올수있다. -->
    <!-- 자바스크립트 문법을 <% %>로 감싸주면 가능하다. 자바스크립트의 for문 사용해보자 -->
    <div class="container">
      <ul class="list-group list-group-flush">
        <% for (var i = 0; i < posts.length; i++){  %>
          <li class="list-group-item">
            <a href="../detail/<%= posts[i]._id  %>" class="detail-a" ><h4>할일 제목 : <%= posts[i].제목  %> </h4></a>
            <p>할일 마감날짜 : <%= posts[i].날짜  %> </p>
            <!-- 삭제 버튼을 위한 class = "delete" -->
            <button class = "delete btn btn-danger" data-id="<%= posts[i]._id  %>">삭제</button> 
          </li>
        <% } %>
      </ul>
    </div>

    <!-- jquery 라이브러리 불러오는 코드 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" ></script>

    <script>

      // delete class가진 버튼 누르면 삭제할수있도록
      $('.delete').click(function(e){
        var 글번호 = e.target.dataset.id; // 내가 누른 버튼에 숨겨진 data-id값을 가져와주셈 // e.target = 지금클릭한것
        var 지금누른거 = $(this); // this = 지금 이벤트 동작하는 곳

        // ajax 기본문법 : 기본 3개정도의 정보를 오브젝트에 넣고, done 함수 이용
        // 서버에 새로고침없이 url 경로("/delete")로 delete요청을 할거에요 
        // jquery 문법으로 ajax 불러오기 
        $.ajax({           
          method: "DELETE",
          url : "/delete",
          data: {_id:글번호}     //요청보낼 때 삭제할 게시물 번호를 함께 전송  // 지금내가 클릭한 버튼의 id를 여기에 집어넣기
        }).done(function(결과){  // status(2xx)을 받았을때
          // 요청이 성공하면 요걸 실행해주세요~ 
          // 페이지를 강제로 새로고침해주세요(location reroad) or 삭제버튼을 누른 <li>요소를 제거해주세요/안보이게
          지금누른거.parent('li').fadeOut(); // 지금누른거의 부모요소중에 li를 찾아서 fadeOut되게 해주세요
        }).fail(function(xhr, textStatus, errorThrown){    // status(4xx)을 받았을때
          console.log(xhr, textStatus, errorThrown)    // textStatus = 응답코드, errorThrown = 에러메세지
        });
      });


    </script>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>